* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms;

}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #10AAB8;
}

.qwerty {
  background-color: #10AAB8;
  width: 1628px;
  height: 60px;
}

#qwerty1 {
  position: absolute;
  left: 1250px;
}

#qwerty3 {
  position: absolute;
  left: 1070px;
}

#hoho {
  position: absolute;
  font-family: Consolas-sans-serif;
  font-size: 40px;
  left: 65px;
  top: 15px;
  color: #fcc06e;

}

figure {
  font-family: Verdana;
  font-size: 120%;
  color: #fcc06e;
  position: relative;
  left: 500px;
}

.has1 {
  width: 1628px;
  height: 750px;

}

.has {
  position: relative;
  bottom: 111px;
  z-index: -1;

}

h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  font-family: Verdana, sans-serif;
  position: relative;
  top: 300px;
  right: 100px;
}

#b1 {
  position: relative;
  bottom: 165px;
}

#hihi {
  position: relative;

}

h2 {
  text-align: center;
  font-family: Abril Fatface, emoji;
  color: white;
}

button {
  background-color: #fcc06e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

h3 {
  text-align: left;
  font-family: Canela, serif;
}

table {
  position: absolute;
  left: 73%;
}

.custom-table {
  color: white;
  border-collapse: collapse;
  width: 200px;
  margin: 20px;
}

.custom-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.custom-table tr:first-child td {
  border-top: 2px solid #000;
}

.custom-table tr:last-child td {
  border-bottom: 2px solid #000;
}

.container {
  background-color: #10AAB8;
  width: 1528px;
  height: 600px;
  padding: 15px;

}

.boxwcontent {
  display: block;
  text-align: center;
  width: 1628px;
  height: 300px;
  font-size: 15px;
  background: white;
  padding: 100px;
  color: #10AAB8;
}

.inner {
  position: relative;
  bottom: 180px;
  left: 1450px;
  transition: transform 900ms;
}

.boxwcontent:hover .inner {
  transform: translateX(-600px);
}

.astana {
  display: block;
  text-align: center;
  background: #b3d4fc;
  width: 1628px;
  height: 300px;
  font-size: 15px;
  padding-left: 600px;
  padding-top: 100px;
  color: rebeccapurple;
}

.inas {
  position: relative;
  bottom: 160px;
  right: 1225px;
  transition: transform 900ms;
}

.astana:hover .inas {
  transform: translateX(725px);
}

.aqtobe {
  display: block;
  text-align: center;
  background: white;
  width: 1628px;
  height: 300px;
  font-size: 15px;
  padding-left: 100px;
  padding-top: 100px;
  color: #10AAB8;
}

.inaq {
  position: relative;
  bottom: 170px;
  left: 1450px;
  transition: transform 900ms;
}

.aqtobe:hover .inaq {
  transform: translateX(-600px);
}

iframe {
  width: 800px;
  height: 400px;
  position: relative;
  left: 24%;
}

.hh {
  width: 1628px;
  height: 30px;
  border: maroon;
  background-color: #b3d4fc;
  align-items: center;
}

.form {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: white;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 0.5rem;
  max-width: 300px;
  text-align: center;
  left: 600px;
}

.copy {
  color: darkblue;
  position: relative;
  background: #b3d4fc;
  width: 1628px;
  height: 300px;
  padding-top: 50px;
  padding-left: 100px;
}

h5 {
  position: relative;
  left: 900px;
  bottom: 220px;
}

#dia {
  border: 3px outset black;
  background-color: #10AAB8;
  padding: 1%;
  margin: 10%;
}


